@import url("css/cv.css");
@import url("css/loc.css"); /*https://dl.dropbox.com/s/c2ti87sqi4k30gm/*/
@import url("css/terms.css");

* {
  margin: 0 auto;
  padding: 0 ;
  overflow: auto.hide;
  font-family: Helvetica,sans-serif, Arial;

}


html { min-width: 320px; }

body {

  background-color: #f3f3f3;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
}

table {
border-style: none;
text-align: center.none;
}

td {
padding: 5px;

}

header {
  background-color: #002147;
  height: auto; /*150px*/
  padding:4px;
}

header h1 {
  text-transform: ; /*removed on oct16 update */
  text-align: center;
  color: #fff;
  line-height: 50px;
font-family: Helvetica;
font-weight: normal;

/*font-family: Helvetica,"Bitstream Vera Sans",sans-serif;*/
}


header h2 {
  font-variant: small-caps.hide;
  text-align: center;
  color: #fff;

font-weight: normal;
/*
font-family: Helvetica,"Bitstream Vera Sans",sans-serif; */ /*arial removed from start */

}

.textColor {
  color: #fff;
}

.textColorBlack {
 color: #000;
}

underRemove {
text-decoration: overline;
}


.bgLightBlue {
 background-color: #85B0BE;
}


.navyText {
  color: #002147.hide;
  
}

.main_menu {
  padding: 4px 0 4px 0;
  text-align: center;
  line-height: 32px;
  background-color: #fff;
}

ul.main_menu {
  margin-top: 15px;
}

.main_menu li {
  display: inline;
  padding: 0 10px 0 10px;
  font-size: 20px;
}

.main_menu a {
  text-decoration: none;
  color: #002147;
  padding: 8px;
  font-variant: small-caps.hide; 
}

a:hover {
  color: #ccc;
}

a:link{
  color:#002147;
}

.textWrap {
float: left;
padding: 5px;
}

.textWrap2 {
float: left;
padding: 4px;
}

img {
float: left;
margin-right: 10px;
}


/* CV CV CV CV */

.underline {
text-decoration:underline;
text-align: center;
}

.vikCVHeading {
text-align: center;
padding: 0 ;
margin: 0 auto;
list-style:none;
padding-left:0;

}


vikContain {
list-style:none;
padding-left:0;
background-color: #000;
}

vikCV {
}

cvli {
list-style-type: none;
}

shade1 {

}
ul li
{
    list-style-type: none;
text-align: center;
}

/* END OF CV */

video {  
   width:100%; 
   max-width:500px; 
   height:auto; 
   text-align: center.none;
}


#contactVid {
text-align: center.none;
   float: right;

}


#vikPic {
width:auto;
height:auto/*305px*/;
}
#vikPic1 {
width:150px;
height:200px/*305px*/;
}




#centerMe {
text-align: center;
background-color: #002147;
border-color: #404040;
border: 1px solid;
padding: 10px;
}

#centerMe1 {
text-align: center;
background-color: #85B0BE;
border-color: #404040;
border: 1px solid.none;
padding: 10px;
color: #000;
}


/*

                   .___.__                                    .__               
  _____   ____   __| _/|__|____      ________ __   ___________|__| ____   ______
 /     \_/ __ \ / __ | |  \__  \    / ____/  |  \_/ __ \_  __ \  |/ __ \ /  ___/
|  Y Y  \  ___// /_/ | |  |/ __ \_ < <_|  |  |  /\  ___/|  | \/  \  ___/ \___ \ 
|__|_|  /\___  >____ | |__(____  /  \__   |____/  \___  >__|  |__|\___  >____  >
      \/     \/     \/         \/      |__|           \/              \/     \/ 

*/

@media screen and (max-width:650px) {
  header {
  background-color: #002147;
  height:auto; /*170px;*/
  padding:4px;
}


@media screen and (max-width:650px) {
#vikPic {
width:50%;
height:50%;
border:none;
}
}


#formz {
border: 1px solid;
text-align: center;
padding:10px;
width:auto;
overflow: auto;
}

}

@media screen and (max-width:370px) {
#formz {
border: 1px solid;
text-align: center;
padding:10px;
width:auto;
overflow: auto;
}

}

.leftTableText {
text-align: left;
}

.centerClass {
text-align: left;
}


.appinfoTable table, td, tr{
text-align: 
}
